{
  "parser": "babel-eslint",
  "plugins": ["prettier", "jest", "react", "jsx-a11y"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
